@font-face {
        font-family: customFonts;
        src: url(/Baloo-Regular.ttf);
}

.bodyBack {
  background-color: rgb(128, 128, 128);
}

.logo {
    position: absolute;
    top: 8px;
    left: 8px;
}

.logoImg {
    height: 50px;
    width: 50px;
    padding-top: 15px;
    padding-left: 25px;
}

.htext1 {
  padding-top: 100px;
  text-align: center;
  font-family: sans-serif;
}

.htext2 {
  text-align: center;
  font-family: Bungee;
  margin-top: -35px;
}

.joinButton {
  background-color: rgb(0, 196, 0);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: -30px;
  border-radius: 5px;
}

.joinButton:hover {
  background-color: rgb(0, 78, 0);
}

.team {
  padding-top: 10px;
  text-align: center;
  font-family: sans-serif;
}

img.dylanPIC {
  display: block;
  margin-left: auto;
  margin-right: auto 
}

.dylanWEB {
  max-width: auto;
  max-height: auto;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    position: absolute;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    padding-left: 625px;
    text-decoration: grey;
}

li {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
    float: top;
    text-decoration: grey;
  }
  
  li a {
    display: block;
    color: rgba(59, 59, 59, 0.459);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  li a:hover {
    text-decoration-color: black;
  }